body {
    font-family: Arial;
    background: #f0f0f0;
    text-align: center;
}

h1 {
    color: #003366;
}

.card {
    background: white;
    margin: 20px auto;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}
button {
    padding: 10px 20px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
